<table class="table" #table>
  <thead>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>password</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users$|async" [class.isNew]="user.isNew">
    <td>{{ user.id }}</td>
    <td>{{ user.name }}</td>
    <td>{{ user.password }}</td>
  </tr>
  </tbody>
</table>
