<div class="row">
  <div class="col s3">
    <div class="input-field">
      <label for="id">Id</label>
      <input type="number" name="id" id="id" #idElement>
    </div>
    <div class="input-field">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" #nameElement>
    </div>
    <div class="input-field">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" #passwordElement>
    </div>
    <button type="button" class="btn" (click)="addUser(idElement.value, nameElement.value, passwordElement.value)">Add user</button>
  </div>
  <div class="col s6">
    <app-list [users$]="users$"></app-list>
  </div>
</div>

